extends layout

block content
    h1 Welcome to our page Admin

    a(href="/search")
        button(type="button") Go to search
    
    a(href="/listusers")
        button(type="button") List all users on the site 

    a(href="/logout")
        button(type="button") Logout  